  .nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    background-color: #f8cbad; // Pastel Orange
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
      cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#f8cbad, 10%);
    }
  }

  #back-button {
    background-color: #b3e5fc; // Pastel Blue
  }

  #forward-button {
    background-color: #f0f4c3; // Pastel Yellow
  }

  #refresh-button {
    background-color: #ffdab9; // Pastel Peach
  }

  #settings-button {
    background-color: #d7bde2; // Pastel Lavender
  }

  #url-bar {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
    color: #333;

    &::placeholder {
      color: #999;
    }
  }

  #main-iframe {
    width: 100%;
    height: 600px;
    border: none;
  }
}
// Dark Mode
.dark-mode .nav-buttons #url-bar {
  background-color: #333;
  color: #fff;

  &::placeholder {
    color: #666;
  }
}

.modal-search-bar {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, #f0f, #0ff);
  }
}

.modal-settings {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;

  .setting-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    input[type="checkbox"],
    select {
      margin-left: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }

  .setting-item:last-child {
    margin-bottom: 0;
  }
}

h1.titles {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, rgb(174, 0, 255), rgb(0, 76, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}